In [ ]:
#DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
#You can think of it like a spreadsheet or SQL table, or a dict of Series objects.
#It is generally the most commonly used pandas object.
#Like Series, DataFrame accepts many different kinds of input:

#http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe

In [ ]:
import pandas as pd

In [ ]:
#Create a dictionary
data_dict = {'name': ['john', 'sam', 'anna', 'smith', 'ben'], 
             'age': [10, 40, 50, 48, 70]}

In [ ]:
#Create a pandas DataFrame from dictionary
dframe = pd.DataFrame(data_dict)

In [ ]:
dframe

In [ ]:
dframe.index

In [ ]:
dframe.columns

In [ ]:
#Add new column to dataframe
salary = [11000, 25000, 10000, 30000, 9000]
dframe['salary'] = salary
#dframe.assign(salary=salary)

In [ ]:
dframe

In [ ]:
dframe.columns

In [ ]:
dframe.pop('salary')

## Use Join

In [ ]:
dframe

In [ ]:
#name argument is important
salary_series = pd.Series(salary, name='salary')

In [ ]:
salary_series

In [ ]:
#Join retuns a new dataframe object, doesn't modify original dataframe object
new_dframe = dframe.join(salary_series)

In [ ]:
new_dframe

In [ ]:
new_dframe['salary']

In [ ]:
dframe