In [ ]:
import pandas as pd

In [ ]:
#http://pandas.pydata.org/pandas-docs/stable/dsintro.html

## Series

In [ ]:
#Series is a one-dimensional labeled array capable of holding any data type (integers, strings,
#floating point numbers, Python objects, etc.)

#http://pandas.pydata.org/pandas-docs/stable/dsintro.html#series

In [ ]:
#Create a pandas Series from list
data1 = [22,40,10,50,70]
s1 = pd.Series(data1)

In [ ]:
s1

In [ ]:
s1.index

In [ ]:
s1[1]

In [ ]:
#Create a pandas Series with a list of data and index
data2 = [22,40,10,50,70]
index = ["john", "sam", "anna", "smith", "ben"]
s2 = pd.Series(data2, index=index)

In [ ]:
s2

In [ ]:
s2.index

In [ ]:
s2['sam']

In [ ]:
#Create a pandas Series with a dictionary, Here index and data is mapped to key and value in the dictionary.
data3 =  {"john":22, "sam":40, "anna":10, "smith":50, "ben":70}
s3 = pd.Series(data3)

In [ ]:
s3

In [ ]:
##Add new data to Series
s3['jp'] = 32

In [ ]:
s3

In [ ]:
##Update data in the Series
s3['john'] = 88

In [ ]:
s3

## DataFrame

In [ ]:
#DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
#You can think of it like a spreadsheet or SQL table, or a dict of Series objects.
#It is generally the most commonly used pandas object.
#Like Series, DataFrame accepts many different kinds of input:

#http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe

In [ ]:
import pandas as pd

In [ ]:
#Create a list of names
names = ['john', 'sam', 'anna', 'smith', 'ben']

In [ ]:
#Create a list of ages
ages = [10, 40, 50, 48, 70]

In [ ]:
#Create a pandas Series list of names
name_series = pd.Series(names)

In [ ]:
name_series

In [ ]:
#Create a pandas Series list of ages
age_series = pd.Series(ages)

In [ ]:
age_series

In [ ]:
#Create a dictionary
data_dict = {'name': name_series, 'age':age_series}

In [ ]:
data_dict

In [ ]:
#Create a pandas DataFrame from dictionary
dframe = pd.DataFrame(data_dict)

In [ ]:
dframe

In [ ]:
#Descriptive Statistics For pandas Dataframe
#For numeric data, the resultâ€™s index will include count, mean, std, min, max as well as lower, 50 and upper percentiles.
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html
dframe.describe()

In [ ]:
dframe.index

In [ ]:
dframe.columns

In [ ]:
#Select a column, retuns a Series object
dframe['name']

In [ ]:
#Create new column and enter values to it
dframe['age_plus_5'] = dframe['age'] + 5

In [ ]:
dframe

In [ ]:
#pop a column
dframe.pop('age_plus_5')

In [ ]:
dframe

In [ ]:
#Select row by index, retuns a Series object
dframe.loc[2]

In [ ]:
#Change index column to name column
dframe.index = dframe['name']

In [ ]:
dframe

In [ ]:
#index column has changed, now "loc" method with index number retuns error, we have to use iloc.
#dframe.loc[2]
dframe.iloc[2]

In [ ]:
#index column has changed, now we can use name to access row
dframe.loc['anna']

## Plot DataFrame

In [ ]:
#Create a pandas DataFrame from dictionary
dframe = pd.DataFrame(data_dict)

In [ ]:
dframe

In [ ]:
#Add new column to dataframe
dframe['salary'] = dframe['age'] * 10

In [ ]:
dframe

In [ ]:
#plot dataframe
dframe.plot.bar()

In [ ]:
#make your plot outputs appear and be stored within the notebook.
%matplotlib inline

In [ ]:
#plot dataframe
dframe.plot.bar()

In [ ]:
#Plot graph of slected columns
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html
dframe[['salary']].plot.bar()

In [ ]:
#Select X and Y columns
dframe.plot.bar(x='age', y='salary')